<div class="row">
  <%= form_for(resource,:html => {:class => "form-horizontal"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-md-8 well">
      <div class="col-md-7 mycontent-left">
        <h1 class="text-center">Sign up</h1>
        <%= devise_error_messages!%>
        <hr>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <div class="row">
          <%= f.label :email, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>
          </br>
        <div class="row">
          <%= f.label :name, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
          </br>
        <div class="row">
          <%= f.label :birthday, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.date_select :birthday, :start_year=>1900, class: 'form-control' %>
          </div>
        </div>
          </br>
        <div class="row">
          <%= f.label :phone, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </div>
          </br>
        <div class="row">
          <%= f.label :password, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
          </br>
        <div class="row">
          <%= f.label :password_confirmation, class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
          </br>
      </div>
      <div class="col-md-5">
        <div class="actions col-md-6">
          <%= f.submit "Sign up", class: 'btn btn-large btn-block btn-success' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>