<h1>Welcome <%= current_user.name%></h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Central View of Users</h3>
  </div>
  <div class="panel-body">


<table class="table table-striped" summary="User list">
	
		<thead>
    		<tr>

			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Phone Number</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= calculate_age(user.birthday) %></td>
			<td><%= number_to_phone(user.phone) %></td>
			<td><%= link_to "Send Email", {:controller => '/user_email', :action => 'new', :id => user.id}%></td>
			<td><%= link_to "Blog", {:controller => '/post', :action => 'index'}%></td>
			<td><%= link_to "New Post", {:controller => '/post', :action => 'new'}%></td>			
		</tr>
		<%end%>
	</tbody>
	</table>

  </div>
</div>



