<!-- <div class='panel panel-default'> -->
<div class="container">
	<div class = "row">
	</br>
			<div class="col-md-9">
				<% @posts.each do |post| %>
				<div class="">
	  				<div class="">
						<h1 class="text-left"><%= post.title %></h1>
						<p><%= post.description %></p>
						<hr>
						<blockquote>
						<%= post.content.html_safe %>
					</blockquote>
						<hr>
						<h3 class="text-right"><strong><small>by <%= @users.find(post.user_id).name%></small></strong></h3>
						<!-- <h4 class="text-left"><small><%= @users.find(post.user_id).created_at%></small></h4> -->
					</div>
				</div>
				<%end%>
				<div class='text-center'>
				<%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
			</div>
			</div>
			<div class="col-md-3">
				<h3>Most recent posts</h3>
					<% @recent.each do |recent| %>
						<div><%= recent.title %></div>
					<%end%>
			</div>
	</div>
</div>
<!-- </div> -->


